<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />




	<div class="container">

		<div class="row" style="margin-bottom: -100px">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span th:text="${user}? ${#strings.toUpperCase(user.username)}: 'Item List'"></span>
						
					</h2>
				</h2>
			</div>

			<div class="col-xs-4">
				<img src="/img/safety.jpg" class="img-responsive" hspace="150"
					style="height: 120px" />
			</div>
		</div>


		<!-- <hr style="position:absolute; width:100% height:6px;background-color:#333; z-index:-1; margin-top:-280px" /> -->

		<hr
			style="position: absolute; width: 90%; height: 2px; background-color: #333; z-index: -1; margin-top: -5px" />

		<img src="/img/images1.jpg" class="img-responsive"
			style="margin-top: 20px;position: absolute;width : 90%;height:50px;z-index:-1" />
			
			
			<div class="row" style="margin-top:10px">
			<div class="col-xs-9 col-xs-offset-3">
				<h5>Bad Request, The Request Path is Invalid. Click <a th:href="@{/}">here </a> to return to HomePage </h5>
			</div>
		</div>
	</div>
			
			
		<!-- 	<div th:replace="common/header :: footer" /> -->
				<div th:replace="common/header :: body-bottom-scripts" />
			
			</body>
			
			</html>