<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />



	<div class="container">
		
		
		<div class="row" style="margin-top: 120px;">
			<div class="col-xs-9 col-xs-offset-3">

				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveNewAccount}?'active'"><a href="#tab-1" data-toggle="tab"><span
							style="color: red">Create New Account</span></a></li>
					<li th:classappend="${classActiveLogin}?'active'"><a href="#tab-2" data-toggle="tab"><span
							style="color: red">Login</span></a></li>
					<li th:classappend="${classActiveForgetPassword}?'active'"><a href="#tab-3" data-toggle="tab"><span
							style="color: red">Forget Password</span></a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px">
									<div class="alert alert-info" th:if="${emailSent}">
									Email has been sent, Pl Check
									</div>
									<form th:action="@{/newUser}" method="post">
										<div class="form-group">
											<label for="newUsername">* Username</label> &nbsp;
											<span style="color:red" th:if="${usernameExists}">UserName Already Exists</span>
											
											<input
												type="text" required="required" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282">Enter Your UserName</p>
										</div>
										<div class="form-group">
											<label for="email">* Email ID</label> &nbsp;
											<span style="color:red" th:if="${emailExists}">Email ID Already Exists</span>
											 <input type="text"
												required="required" class="form-control" id="email"
												name="email" />
											<p style="color: #828282">Enter Your Email ID</p>

											<button type="submit" class="btn btn-primary">Create
												New Account</button>


										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
					<div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}?'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px">
									<div th:if="${param.error!=null}" style="color:red;">Invalid UserName and Password</div>
									<form th:action="@{/login}" method="post">
									
									<div class="form-group ">
					<a type="submit" class="btn btn-info btn-lg btn-block fa fa-facebook"
						th:href="@{/facebookLogin}">Facebook</a>
						
								<a type="submit" class="btn btn-info btn-lg btn-block fa fa-google"
						th:href="@{/signUp}">Google</a>
				</div>
					
					<hr>
									
										<div class="form-group">
											<label for="newUsername">* Username</label> <input
												type="text" required="required" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282">Enter Your UserName</p>
										</div>
										<div class="form-group">
											<label for="password">* Password</label> <input type="password"
												required="required" class="form-control" id="password"
												name="password" />
											<p style="color: #828282">Enter Your Password</p>

											<button type="submit" class="btn btn-primary">Login</button>


										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
					
					
								<div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}?'in active'">
						<div class="panel-group">
							<div class="panel p[anel-default" style="border: none">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px">
									<div th:if="${emailNotExists}" class="slert alert-danger">Email Id does not Exists</div>
									<div th:if="${forgetPasswordEmailSent}" class="slert alert-success">Password Sent to mentioned Registered Email ID</div>
									<form th:action="@{forgetPassword}",method="POST">
										<div class="form-group">
											<label for="recoverEmail">* Your Email ID</label> <input
												type="text" required="required" class="form-control"
												id="recoverEmail" name="email" />
											<p style="color: #828282">Enter Your Registered Email ID</p>
										</div>
								

											<button type="submit" class="btn btn-primary">Get Password</button>


										
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		
		
	</div>




<!-- 	<div th:replace="common/header :: footer" /> -->


</body>
</html>
