<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />




	<div class="container">

		<div class="row" style="margin-bottom: -100px">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>

			<div class="col-xs-4">
				<img src="/img/safety.jpg" class="img-responsive" hspace="150"
					style="height: 120px" />
			</div>
		</div>


		<!-- <hr style="position:absolute; width:100% height:6px;background-color:#333; z-index:-1; margin-top:-280px" /> -->

		<hr
			style="position: absolute; width: 100%; height: 2px; background-color: #333; z-index: -1; margin-top: -5px" />

		<img src="/img/Cloth.jpg" class="img-responsive"
			style="margin-top: 20px;position: absolute;z-index:-1" />

		<div class="row" style="margin-top:10px;">
			<div class="col-xs-12">
			
				<div class="alert alert-success">
				<h3><i class="fa fa-check" aria-hidden="true" style="color:limegreen;"></i>
					Thank You ! Your Order has been Placed.
				</h3>
				<h4>The Estimated Delivery Date is <span th:text="${estimatedDeliveryDate}"></span></h4>
				
				</div>
				
				<h3>List of Items</h3>
				
				<div class="row" th:each="cartItem : ${cartItemList}">
				
					<hr />
					<div class="col-xs-2">
					
					</div>
					
					<div class="col-xs-2">

											
												<a th:href="@{/productDetails?id=}+${cartItem.product.id}"> <img
												th:src="@{${cartItem.product.photImagePath}}"
												class="img-responsive shelf-book" 
												style="width: 70px;" />
												</a>
										</div>

										<div class="col-xs-6">

											<div style="margin-left: 50px;">

												<a th:href="@{/productDetails?id=}+${cartItem.product.id}">
													<h4 th:text="${cartItem.product.productName}"></h4>
												</a>

												
											</div>
										</div>

										<div class="col-xs-2">

											<h5 style="color: #db3208; font-size: large;">
												$<span th:text="${cartItem.product.productPriceAfterdiscount}"
													th:style="${cartItem.product.inStockNumber}==0? 'text-decoration:line-through':''"></span>
											</h5>

										</div>

										<div class="col-xs-2">


											<h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>

										</div>



									</form>
								</div>
					
					
					
					</div>"
					
				</div>
				
			</div>
		</div>
		
		
		
		

	</div>

	<!-- End of Container -->

<!-- <div th:replace="common/header :: footer" /> -->


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
