<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<!-- 
<link href="/css/style.css" rel="stylesheet" /> -->



</head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">


	<div class="row">

			<div class="col-md-6">
	
				<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successMessage}">
  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong th:text="${successMessage}"></strong>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMessage}">
  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    .
  </button>
  <strong th:text="${errorMessage}"></strong>
</div>

				<form action="" th:action="@{'/fileUpload'}"
					th:object="${product}" method="post"
					enctype="multipart/form-data">
					<div class="form-group">
					
					<div class="col-md-3">
						<label for="fileUpload">Upload Product List</label> 
					</div>
						<div class="col-md-8">
						<input type="file"
							class="form-control" id="file" name="file">
					</div>
					</div>

					<button type="submit" class="btn btn-default">Submit</button>
				</form>



			</div>
</div>



		<div class="table-responsive">
			<table id="productListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllProduct" type="checkbox"> 
						<th>Name</th>
						<th>Brand</th>
						<th>Code</th>
						<th>Price</th>
						<th>In Stock</th>													
						<th>Operation</th>
				
					</tr>

				</thead>

				<tbody>
					<tr data-th-each="product: ${productList}">
					
			 	<td>
						<input hidden="hidden" name="id" th:value="${product.id}">
						<input th:id="'selected'+${product.id}" class="checkboxProduct" type="checkbox" />
					</td> 

								
								<td><a th:href="@{/productInfoData(id=${product.id})}"><span
								th:text="${product.productName}"></span></a></td>
						<td th:text="${product.productBrand}"></td>
						<td th:text="${product.productCode}"></td>
						<td th:text="${product.productPriceAfterdiscount}"></td>
						<td th:text="${product.inStockNumber}"></td>
						<td>
						<input hidden="hidden" name="id" th:value="${product.id}">
						<button th:id="'oneProduct-'+${product.id}" class="btn btn-danger btn-xs delete-product" type="submit" value="delete">
						<span class="fa fa-times">Delete</span>
						
						</button>
						</td>
					</tr>
				</tbody>
				
				</table>

				</div>
				
				<button th:id="deleteSelected" class="btn btn-danger" > Delete Selected Product</button>
				</div>
				

		 	<div th:replace="common/header :: body-bottom-scripts" />  

				<script>		
		$(document).ready( function () {
		    $('#productListTable').DataTable();
		} );
	</script>
  </body>
</html>
