<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<!-- 
<link href="/css/style.css" rel="stylesheet" /> -->



</head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">

<form class="form-horizontal" th:action="@{/shoppingCart/returnFromCartItemList}"
				method="post">

		<div class="table-responsive">
			<table id="returnProductListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllProduct" type="checkbox"> 
						
						<!-- <th>UserName</th>	
						<th>Contact</th>	
						<th>Email</th>
						<th>Product</th>						
						<th>Code</th>
						<th>Price</th> -->
					<!-- 	<th>Quantity</th> -->
				
						<th>Order ID</th>	
																	
						<th>Ordered Date</th>
						<th>STATUS</th>		
				
					</tr>

				</thead>

				<tbody>
					<tr th:each="order : ${orderList}">
					<td></td>
													<td><a th:href="@{/returnFromCartItemList(id=${order.id})}">
															<span th:text="${order.id}"></span>
													</a></td>
												
					
					<!-- <td>
						<input hidden="hidden" name="id" th:value="${order.id}">
						//<input th:id="'selected'+${product.id}" class="checkboxProduct" type="checkbox" />
					</td> 
					
					<td data-th-text="${user.firstName + ' '+ user.lastName}">
					<td data-th-text="${user.phone}">
					<td data-th-text="${user.email}">
					
					<td>
														<p th:each="cartItem : ${order.cartItemList}">
															<a th:href="@{/productDetails(id=${cartItem.product.id})}">
															<span data-th-text="${cartItem.product.productName}"></span>
															</a>
														</p>
													</td>
													
													<td>
														<p th:each="cartItem : ${order.cartItemList}">
															<a th:href="@{/productDetails(id=${cartItem.product.id})}">
															<span data-th-text="${cartItem.product.productCode}"></span>
															</a>
														</p>
													</td>
													
													<td>
														<p th:each="cartItem : ${order.cartItemList}">
															<a th:href="@{/productDetails(id=${cartItem.product.id})}">
															<span data-th-text="${cartItem.product.productPrice}"></span>
															</a>
														</p>
													</td>
					 -->
					
												
													
													
													
													<td data-th-text="${order.orderDate}"></td>
													<td data-th-text="${order.orderStatus}"></td>

													


													<!-- <td data-th-text="${order.orderTotal}"></td>
													<td data-th-text="${order.orderStatus}"></td> -->
													<!-- <td><a th:href="@{/returnProduct(id=${order.id})}"><span
															th:text="Return"></span></a></td> -->
												</tr>
				</tbody>
				
				</table>

				</div>
				</form>
				<button th:id="deleteSelected" class="btn btn-danger" > Delete Selected Product</button>
				</div>
				

		 	<div th:replace="common/header :: body-bottom-scripts" />  

				<script>		
		$(document).ready( function () {
		    $('#returnProductListTable').DataTable();
		} );
	</script>
  </body>
</html>
