<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<title>List of Orders</title>

</head>
<body>



	<!-- Order Information -->
					
	<div th:replace="common/header :: navbar" />
	<div class="container">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<table class="table table-sm table-inverse">
										<thead>
											<tr>
												<th>Order Date</th>
												<th>Order Number</th>
												<th>Product</th>
												<th>Total</th>
												<th>Status</th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${orderList}">
											
											
											
														
											<td><a th:href="@{/userOrderDetail(orderId=${order.id})}"><span
														th:text="${order.orderDate}"></span></a></td>  
												<td data-th-text="${order.id}"></td>
												
												
													<td>
														<p th:each="cartItem : ${order.cartItemList}">
															<a th:href="@{/productDetails(id=${cartItem.product.id})}">
															<span data-th-text="${cartItem.product.productName}"></span>
															</a>
														</p>
													</td>
												<td data-th-text="${order.orderTotal}"></td>
												<td data-th-text="${order.orderStatus}"></td>
												
												
													 
											</tr>
										</tbody>
									</table>

								
								</div>
							</div>
						</div>
					

</div>


</body>
</html>